<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="theme/css/style.css" rel="stylesheet">
    <title>Log15Tecweb | Resoconto Autista</title>
  </head>
  <body class="page-client-autista autista">
    <div class="container">
      <h2 class="page-title">Resoconto Autista</h2>
      <div class="welcome-message">Benvenuto 
        <span class="username">Mario</span>
        <span class="password">Rossi</span>
      </div>
      <div class="notifiche">
        Notifiche <span class="number-notifications">1</span>
      </div>
      <div class="current-assegnamento">
        Tra <span class="current-assegnamento-minuti">10 minuti</span> a <span class="location-start">P.LE Tecchio</span>
        <div class="assegnamento">Per tratta 
          <span class="location-partenza">P.Le tecchio</span>
          <span class="locatin-destinazione">Viale indipendenza 10</span>
        </div>
      </div>
      <div class="segnala-orario-effettivo-di-partenza segnalazione-autista-wrap">
        <span class="segnala-orario-di-partenza toggle closed">Segnala orario di partenza</span>
      </div>
      <div class="segnala-orario-effettivo-di-arrivo segnalazione-autista-wrap">
        <span class="segnala-orario-di-arrivo toggle closed">Segnala orario di arrivo</span>
      </div>
      <div class="segnala-problema segnalazione-autista-wrap">
        <span class="segnala-problema toggle closed">Segnala problema</span>
      </div>
      <div class="altre-info">
        <a class="segnala-problema toggle closed" href="#">Altre info</a>
      </div>
    </div>
  </body>
</html>