<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>log15tecweb.FirstServlet</servlet-name>
    <servlet-class>log15tecweb.FirstServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>log15tecweb.WelcomeServlet</servlet-name>
    <servlet-class>log15tecweb.WelcomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>log15tecweb.AggiungiAutomezzoServerPage</servlet-name>
    <servlet-class>log15tecweb.AggiungiAutomezzoServerPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>log15tecweb.ApprovaAssegnamentoServerPage</servlet-name>
    <servlet-class>log15tecweb.ApprovaAssegnamentoServerPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>log15tecweb.CancellaAutomezzoServerPage</servlet-name>
    <servlet-class>log15tecweb.CancellaAutomezzoServerPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>log15tecweb.ModificaAutomezzoServerPage</servlet-name>
    <servlet-class>log15tecweb.ModificaAutomezzoServerPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>log15tecweb.LogoutServlet</servlet-name>
    <servlet-class>log15tecweb.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>log15tecweb.CreateClientServlet</servlet-name>
    <servlet-class>log15tecweb.CreateClientServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>log15tecweb.ModificaClienteServlet</servlet-name>
    <servlet-class>log15tecweb.ModificaClienteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>log15tecweb.cancella-cliente-server</servlet-name>
    <servlet-class>log15tecweb.CancellaClienteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>log15tecweb.CreateAutistaServlet</servlet-name>
    <servlet-class>log15tecweb.CreateAutistaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>log15tecweb.ModificaAutistaServlet</servlet-name>
    <servlet-class>log15tecweb.ModificaAutistaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>log15tecweb.CancellaAutistaServlet</servlet-name>
    <servlet-class>log15tecweb.CancellaAutistaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>log15tecweb.RifiutaAssegnamentoServerPage</servlet-name>
    <servlet-class>log15tecweb.RifiutaAssegnamentoServerPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>log15tecweb.SegnalaProblemaServerPage</servlet-name>
    <servlet-class>log15tecweb.SegnalaProblemaServerPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>log15tecweb.SegnalaProblemaServerPage</servlet-name>
    <url-pattern>/segnala-problema-serverpage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>log15tecweb.FirstServlet</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>log15tecweb.WelcomeServlet</servlet-name>
    <url-pattern>/servlet3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>log15tecweb.LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>log15tecweb.AggiungiAutomezzoServerPage</servlet-name>
    <url-pattern>/aggiunta-automezzo-server</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>log15tecweb.CancellaAutomezzoServerPage</servlet-name>
    <url-pattern>/cancella-automezzo-server</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>log15tecweb.ModificaAutomezzoServerPage</servlet-name>
    <url-pattern>/modifica-automezzo-server</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>log15tecweb.CreateClientServlet</servlet-name>
    <url-pattern>/CreateClientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>log15tecweb.ModificaClienteServlet</servlet-name>
    <url-pattern>/ModificaClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>log15tecweb.CancellaClienteServlet</servlet-name>
    <url-pattern>/cancella-cliente-server</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>log15tecweb.CreateAutistaServlet</servlet-name>
    <url-pattern>/CreateAutistaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>log15tecweb.ModificaAutistaServlet</servlet-name>
    <url-pattern>/ModificaAutistaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>log15tecweb.CancellaAutistaServlet</servlet-name>
    <url-pattern>/cancella-autista-server</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>log15tecweb.ApprovaAssegnamentoServerPage</servlet-name>
    <url-pattern>/approva-assegnamento</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>log15tecweb.RifiutaAssegnamentoServerPage</servlet-name>
    <url-pattern>/rifiuta-assegnamento</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>